chainkit_v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://lightningj.org/xsd/chainkit_1_0" xmlns="http://lightningj.org/xsd/lndjapi_1_0" xmlns:verrpc="http://lightningj.org/xsd/verrpc_1_0" xmlns:chainnotifier="http://lightningj.org/xsd/chainnotifier_1_0" xmlns:autopilot="http://lightningj.org/xsd/autopilot_1_0" xmlns:peers="http://lightningj.org/xsd/peers_1_0" xmlns:chainkit="http://lightningj.org/xsd/chainkit_1_0" xmlns:watchtower="http://lightningj.org/xsd/watchtower_1_0" xmlns:walletkit="http://lightningj.org/xsd/walletkit_1_0" xmlns:router="http://lightningj.org/xsd/router_1_0" xmlns:dev="http://lightningj.org/xsd/dev_1_0" xmlns:invoices="http://lightningj.org/xsd/invoices_1_0" xmlns:tns="http://lightningj.org/xsd/chainkit_1_0" xmlns:wtclient="http://lightningj.org/xsd/wtclient_1_0" xmlns:stateservice="http://lightningj.org/xsd/stateservice_1_0" xmlns:neutrino="http://lightningj.org/xsd/neutrino_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:walletunlocker="http://lightningj.org/xsd/walletunlocker_1_0" xmlns:signer="http://lightningj.org/xsd/signer_1_0">

  <xs:element name="GetBestBlockRequest" type="tns:GetBestBlockRequestType"/>

  <xs:element name="GetBestBlockResponse" type="tns:GetBestBlockResponseType"/>

  <xs:element name="GetBlockHashRequest" type="tns:GetBlockHashRequestType"/>

  <xs:element name="GetBlockHashResponse" type="tns:GetBlockHashResponseType"/>

  <xs:element name="GetBlockHeaderRequest" type="tns:GetBlockHeaderRequestType"/>

  <xs:element name="GetBlockHeaderResponse" type="tns:GetBlockHeaderResponseType"/>

  <xs:element name="GetBlockRequest" type="tns:GetBlockRequestType"/>

  <xs:element name="GetBlockResponse" type="tns:GetBlockResponseType"/>

  <xs:complexType name="GetBlockRequestType">
    <xs:sequence>
      <xs:element name="blockHash" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBlockResponseType">
    <xs:sequence>
      <xs:element name="rawBlock" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBlockHeaderRequestType">
    <xs:sequence>
      <xs:element name="blockHash" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBlockHeaderResponseType">
    <xs:sequence>
      <xs:element name="rawBlockHeader" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBestBlockRequestType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="GetBestBlockResponseType">
    <xs:sequence>
      <xs:element name="blockHash" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="blockHeight" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBlockHashRequestType">
    <xs:sequence>
      <xs:element name="blockHeight" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBlockHashResponseType">
    <xs:sequence>
      <xs:element name="blockHash" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

