router_v1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://lightningj.org/xsd/router_1_0" xmlns="http://lightningj.org/xsd/lndjapi_1_0" xmlns:verrpc="http://lightningj.org/xsd/verrpc_1_0" xmlns:chainnotifier="http://lightningj.org/xsd/chainnotifier_1_0" xmlns:autopilot="http://lightningj.org/xsd/autopilot_1_0" xmlns:watchtower="http://lightningj.org/xsd/watchtower_1_0" xmlns:walletkit="http://lightningj.org/xsd/walletkit_1_0" xmlns:router="http://lightningj.org/xsd/router_1_0" xmlns:invoices="http://lightningj.org/xsd/invoices_1_0" xmlns:tns="http://lightningj.org/xsd/router_1_0" xmlns:wtclient="http://lightningj.org/xsd/wtclient_1_0" xmlns:stateservice="http://lightningj.org/xsd/stateservice_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:walletunlocker="http://lightningj.org/xsd/walletunlocker_1_0" xmlns:signer="http://lightningj.org/xsd/signer_1_0">

  <xs:import namespace="http://lightningj.org/xsd/lndjapi_1_0" schemaLocation="./lnd_v1.xsd"/>

  <xs:element name="BuildRouteRequest" type="tns:BuildRouteRequestType"/>

  <xs:element name="BuildRouteResponse" type="tns:BuildRouteResponseType"/>

  <xs:element name="CircuitKey" type="tns:CircuitKeyType"/>

  <xs:element name="ForwardEvent" type="tns:ForwardEventType"/>

  <xs:element name="ForwardFailEvent" type="tns:ForwardFailEventType"/>

  <xs:element name="ForwardHtlcInterceptRequest" type="tns:ForwardHtlcInterceptRequestType"/>

  <xs:element name="ForwardHtlcInterceptResponse" type="tns:ForwardHtlcInterceptResponseType"/>

  <xs:element name="GetMissionControlConfigRequest" type="tns:GetMissionControlConfigRequestType"/>

  <xs:element name="GetMissionControlConfigResponse" type="tns:GetMissionControlConfigResponseType"/>

  <xs:element name="HtlcEvent" type="tns:HtlcEventType"/>

  <xs:element name="HtlcInfo" type="tns:HtlcInfoType"/>

  <xs:element name="LinkFailEvent" type="tns:LinkFailEventType"/>

  <xs:element name="MissionControlConfig" type="tns:MissionControlConfigType"/>

  <xs:element name="PairData" type="tns:PairDataType"/>

  <xs:element name="PairHistory" type="tns:PairHistoryType"/>

  <xs:element name="PaymentStatus" type="tns:PaymentStatusType"/>

  <xs:element name="QueryMissionControlRequest" type="tns:QueryMissionControlRequestType"/>

  <xs:element name="QueryMissionControlResponse" type="tns:QueryMissionControlResponseType"/>

  <xs:element name="QueryProbabilityRequest" type="tns:QueryProbabilityRequestType"/>

  <xs:element name="QueryProbabilityResponse" type="tns:QueryProbabilityResponseType"/>

  <xs:element name="ResetMissionControlRequest" type="tns:ResetMissionControlRequestType"/>

  <xs:element name="ResetMissionControlResponse" type="tns:ResetMissionControlResponseType"/>

  <xs:element name="RouteFeeRequest" type="tns:RouteFeeRequestType"/>

  <xs:element name="RouteFeeResponse" type="tns:RouteFeeResponseType"/>

  <xs:element name="SendPaymentRequest" type="tns:SendPaymentRequestType"/>

  <xs:element name="SendToRouteRequest" type="tns:SendToRouteRequestType"/>

  <xs:element name="SendToRouteResponse" type="tns:SendToRouteResponseType"/>

  <xs:element name="SetMissionControlConfigRequest" type="tns:SetMissionControlConfigRequestType"/>

  <xs:element name="SetMissionControlConfigResponse" type="tns:SetMissionControlConfigResponseType"/>

  <xs:element name="SettleEvent" type="tns:SettleEventType"/>

  <xs:element name="SubscribeHtlcEventsRequest" type="tns:SubscribeHtlcEventsRequestType"/>

  <xs:element name="TrackPaymentRequest" type="tns:TrackPaymentRequestType"/>

  <xs:element name="UpdateChanStatusRequest" type="tns:UpdateChanStatusRequestType"/>

  <xs:element name="UpdateChanStatusResponse" type="tns:UpdateChanStatusResponseType"/>

  <xs:element name="XImportMissionControlRequest" type="tns:XImportMissionControlRequestType"/>

  <xs:element name="XImportMissionControlResponse" type="tns:XImportMissionControlResponseType"/>

  <xs:complexType name="SendPaymentRequestType">
    <xs:sequence>
      <xs:element name="dest" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="amt" type="xs:long"/>
      <xs:element name="amtMsat" type="xs:long"/>
      <xs:element name="paymentHash" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="finalCltvDelta" type="xs:int"/>
      <xs:element name="paymentAddr" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="paymentRequest" type="xs:string" minOccurs="0"/>
      <xs:element name="timeoutSeconds" type="xs:int"/>
      <xs:element name="feeLimitSat" type="xs:long"/>
      <xs:element name="feeLimitMsat" type="xs:long"/>
      <xs:element name="outgoingChanId" type="xs:long"/>
      <xs:element name="outgoing_chan_ids" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outgoingChanIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lastHopPubkey" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="cltvLimit" type="xs:int"/>
      <xs:element name="route_hints" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RouteHint" type="RouteHintType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="destCustomRecordsEntries" type="tns:SendPaymentRequestDestCustomRecordsEntriesType" minOccurs="0"/>
      <xs:element name="allowSelfPayment" type="xs:boolean"/>
      <xs:element name="destFeatures" type="featureBit" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="maxParts" type="xs:int"/>
      <xs:element name="noInflightUpdates" type="xs:boolean"/>
      <xs:element name="maxShardSizeMsat" type="xs:long"/>
      <xs:element name="amp" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendPaymentRequestDestCustomRecordsEntriesType">
    <xs:sequence>
      <xs:element name="entry" type="tns:SendPaymentRequestDestCustomRecordsEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendPaymentRequestDestCustomRecordsEntryType">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TrackPaymentRequestType">
    <xs:sequence>
      <xs:element name="paymentHash" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="noInflightUpdates" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RouteFeeRequestType">
    <xs:sequence>
      <xs:element name="dest" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="amtSat" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RouteFeeResponseType">
    <xs:sequence>
      <xs:element name="routingFeeMsat" type="xs:long"/>
      <xs:element name="timeLockDelay" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendToRouteRequestType">
    <xs:sequence>
      <xs:element name="paymentHash" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="route" type="RouteType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendToRouteResponseType">
    <xs:sequence>
      <xs:element name="preimage" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="failure" type="FailureType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResetMissionControlRequestType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="ResetMissionControlResponseType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="QueryMissionControlRequestType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="QueryMissionControlResponseType">
    <xs:sequence>
      <xs:element name="pairs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:PairHistory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PairHistoryType">
    <xs:sequence>
      <xs:element name="nodeFrom" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="nodeTo" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="history" type="tns:PairDataType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PairDataType">
    <xs:sequence>
      <xs:element name="failTime" type="xs:long"/>
      <xs:element name="failAmtSat" type="xs:long"/>
      <xs:element name="failAmtMsat" type="xs:long"/>
      <xs:element name="successTime" type="xs:long"/>
      <xs:element name="successAmtSat" type="xs:long"/>
      <xs:element name="successAmtMsat" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="XImportMissionControlRequestType">
    <xs:sequence>
      <xs:element name="pairs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:PairHistory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="force" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="XImportMissionControlResponseType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="GetMissionControlConfigRequestType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="GetMissionControlConfigResponseType">
    <xs:sequence>
      <xs:element name="config" type="tns:MissionControlConfigType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MissionControlConfigType">
    <xs:sequence>
      <xs:element name="halfLifeSeconds" type="xs:long"/>
      <xs:element name="hopProbability" type="xs:float"/>
      <xs:element name="weight" type="xs:float"/>
      <xs:element name="maximumPaymentResults" type="xs:int"/>
      <xs:element name="minimumFailureRelaxInterval" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SetMissionControlConfigRequestType">
    <xs:sequence>
      <xs:element name="config" type="tns:MissionControlConfigType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SetMissionControlConfigResponseType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="QueryProbabilityRequestType">
    <xs:sequence>
      <xs:element name="fromNode" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="toNode" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="amtMsat" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QueryProbabilityResponseType">
    <xs:sequence>
      <xs:element name="probability" type="xs:double"/>
      <xs:element name="history" type="tns:PairDataType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuildRouteRequestType">
    <xs:sequence>
      <xs:element name="amtMsat" type="xs:long"/>
      <xs:element name="finalCltvDelta" type="xs:int"/>
      <xs:element name="outgoingChanId" type="xs:long"/>
      <xs:element name="hop_pubkeys" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hopPubkeys" type="xs:base64Binary" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="paymentAddr" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuildRouteResponseType">
    <xs:sequence>
      <xs:element name="route" type="RouteType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubscribeHtlcEventsRequestType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="HtlcEventType">
    <xs:sequence>
      <xs:element name="incomingChannelId" type="xs:long"/>
      <xs:element name="outgoingChannelId" type="xs:long"/>
      <xs:element name="incomingHtlcId" type="xs:long"/>
      <xs:element name="outgoingHtlcId" type="xs:long"/>
      <xs:element name="timestampNs" type="xs:long"/>
      <xs:element name="eventType" type="tns:eventType" minOccurs="0"/>
      <xs:element name="forwardEvent" type="tns:ForwardEventType" minOccurs="0"/>
      <xs:element name="forwardFailEvent" type="tns:ForwardFailEventType" minOccurs="0"/>
      <xs:element name="settleEvent" type="tns:SettleEventType" minOccurs="0"/>
      <xs:element name="linkFailEvent" type="tns:LinkFailEventType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardEventType">
    <xs:sequence>
      <xs:element name="info" type="tns:HtlcInfoType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HtlcInfoType">
    <xs:sequence>
      <xs:element name="incomingTimelock" type="xs:int"/>
      <xs:element name="outgoingTimelock" type="xs:int"/>
      <xs:element name="incomingAmtMsat" type="xs:long"/>
      <xs:element name="outgoingAmtMsat" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardFailEventType">
    <xs:all/>
  </xs:complexType>

  <xs:complexType name="SettleEventType">
    <xs:sequence>
      <xs:element name="preimage" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkFailEventType">
    <xs:sequence>
      <xs:element name="info" type="tns:HtlcInfoType" minOccurs="0"/>
      <xs:element name="wireFailure" type="failureCode" minOccurs="0"/>
      <xs:element name="failureDetail" type="tns:failureDetail" minOccurs="0"/>
      <xs:element name="failureString" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentStatusType">
    <xs:sequence>
      <xs:element name="state" type="tns:paymentState" minOccurs="0"/>
      <xs:element name="preimage" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="htlcs" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="HTLCAttempt" type="HTLCAttemptType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CircuitKeyType">
    <xs:sequence>
      <xs:element name="chanId" type="xs:long"/>
      <xs:element name="htlcId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardHtlcInterceptRequestType">
    <xs:sequence>
      <xs:element name="incomingCircuitKey" type="tns:CircuitKeyType" minOccurs="0"/>
      <xs:element name="incomingAmountMsat" type="xs:long"/>
      <xs:element name="incomingExpiry" type="xs:int"/>
      <xs:element name="paymentHash" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="outgoingRequestedChanId" type="xs:long"/>
      <xs:element name="outgoingAmountMsat" type="xs:long"/>
      <xs:element name="outgoingExpiry" type="xs:int"/>
      <xs:element name="customRecordsEntries" type="tns:ForwardHtlcInterceptRequestCustomRecordsEntriesType" minOccurs="0"/>
      <xs:element name="onionBlob" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardHtlcInterceptRequestCustomRecordsEntriesType">
    <xs:sequence>
      <xs:element name="entry" type="tns:ForwardHtlcInterceptRequestCustomRecordsEntryType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardHtlcInterceptRequestCustomRecordsEntryType">
    <xs:sequence>
      <xs:element name="key" type="xs:long"/>
      <xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ForwardHtlcInterceptResponseType">
    <xs:sequence>
      <xs:element name="incomingCircuitKey" type="tns:CircuitKeyType" minOccurs="0"/>
      <xs:element name="action" type="tns:resolveHoldForwardAction" minOccurs="0"/>
      <xs:element name="preimage" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateChanStatusRequestType">
    <xs:sequence>
      <xs:element name="chanPoint" type="ChannelPointType" minOccurs="0"/>
      <xs:element name="action" type="tns:chanStatusAction" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UpdateChanStatusResponseType">
    <xs:all/>
  </xs:complexType>

  <xs:simpleType name="eventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="SEND"/>
      <xs:enumeration value="RECEIVE"/>
      <xs:enumeration value="FORWARD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="failureDetail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="NO_DETAIL"/>
      <xs:enumeration value="ONION_DECODE"/>
      <xs:enumeration value="LINK_NOT_ELIGIBLE"/>
      <xs:enumeration value="ON_CHAIN_TIMEOUT"/>
      <xs:enumeration value="HTLC_EXCEEDS_MAX"/>
      <xs:enumeration value="INSUFFICIENT_BALANCE"/>
      <xs:enumeration value="INCOMPLETE_FORWARD"/>
      <xs:enumeration value="HTLC_ADD_FAILED"/>
      <xs:enumeration value="FORWARDS_DISABLED"/>
      <xs:enumeration value="INVOICE_CANCELED"/>
      <xs:enumeration value="INVOICE_UNDERPAID"/>
      <xs:enumeration value="INVOICE_EXPIRY_TOO_SOON"/>
      <xs:enumeration value="INVOICE_NOT_OPEN"/>
      <xs:enumeration value="MPP_INVOICE_TIMEOUT"/>
      <xs:enumeration value="ADDRESS_MISMATCH"/>
      <xs:enumeration value="SET_TOTAL_MISMATCH"/>
      <xs:enumeration value="SET_TOTAL_TOO_LOW"/>
      <xs:enumeration value="SET_OVERPAID"/>
      <xs:enumeration value="UNKNOWN_INVOICE"/>
      <xs:enumeration value="INVALID_KEYSEND"/>
      <xs:enumeration value="MPP_IN_PROGRESS"/>
      <xs:enumeration value="CIRCULAR_ROUTE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paymentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IN_FLIGHT"/>
      <xs:enumeration value="SUCCEEDED"/>
      <xs:enumeration value="FAILED_TIMEOUT"/>
      <xs:enumeration value="FAILED_NO_ROUTE"/>
      <xs:enumeration value="FAILED_ERROR"/>
      <xs:enumeration value="FAILED_INCORRECT_PAYMENT_DETAILS"/>
      <xs:enumeration value="FAILED_INSUFFICIENT_BALANCE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="resolveHoldForwardAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SETTLE"/>
      <xs:enumeration value="FAIL"/>
      <xs:enumeration value="RESUME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="chanStatusAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENABLE"/>
      <xs:enumeration value="DISABLE"/>
      <xs:enumeration value="AUTO"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

